@{
    ViewData["Title"] = "Configuración";
}

<h2>⚙ Configuración del Sistema</h2>

<div class="card p-3 mt-3">
    <label>Frecuencia de simulación (ms)</label>
    <input class="form-control" value="1000" />

    <label class="mt-3">Modo de simulación</label>
    <select class="form-control">
        <option>Normal</option>
        <option>Alta carga</option>
    </select>

    <button class="btn btn-success mt-3">Guardar cambios</button>
</div>