@model List<PlantTwin.Models.HistoryEvent>

<h2>📜 Historial de Eventos</h2>

<div class="card p-3 mt-3">
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Máquina</th>
                <th>Evento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model)
            {
                <tr>
                    <td>@e.Fecha.ToString("dd/MM/yyyy HH:mm:ss")</td>
                    <td>@e.Maquina</td>
                    <td>@e.Evento</td>
                </tr>
            }
        </tbody>
    </table>
</div>